[Unit]
Description=Dosu Logi ERP API
After=network.target postgresql.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/dosulogi
EnvironmentFile=/home/dosulogi/.env
ExecStart=/home/dosulogi/server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
